@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bs-font-sans-serif: "Inter", sans-serif;
    --bs-body-font-family: var(var(--bs-font-sans-serif));
    --clr-main-yellow: #f5f5ac;
}

[data-bs-theme="dark"] {
    --bs-body-bg: #000;

}

.bg-rebecca {
    background-color: rebeccapurple;
}

.bg-yellow {
    background-color: var(--clr-main-yellow);
}

body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.heart-like-icon:hover {
    cursor: pointer;
}

.yellow {
    color: var(--clr-main-yellow);
}

.brand:active,
.brand:visited {
    color: var(--clr-main-yellow);
}