.HomePage .claim {
    font-size: 2.7em;
    font-weight: 800;
    line-height: 1.1;
    margin: 0
}

.HomePage .counters {
    font-weight: 800;
}

.HomePage .logo {
    max-width: 150px;
    margin: 0 auto;
    display: block
}

.imageContainer {
    overflow: hidden;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 40px;

}

.HomePage img {
    object-fit: contain;

    /* height: fit-content; */
}